[Desktop Entry]
Name=Chameculate Light
X-KDE-PluginInfo-Author=Bali10050, doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=chameculate-light
X-KDE-PluginInfo-Version=1.0
